workflows/Donna Instagram Router.json
{
  "active": true,
  "connections": {
    "RabbitMQ Trigger": {
      "main": [
        [
          {
            "node": "Payload",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Payload": {
      "main": [
        [
          {
            "node": "Contests Prod",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook POST": {
      "main": [
        [
          {
            "node": "RabbitMQ",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook GET": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2024-10-23T00:20:45.274Z",
  "id": "snU4BfiRRFvJ6KVc",
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "name": "Donna Instagram Router",
  "nodes": [
    {
      "parameters": {
        "respondWith": "text",
        "responseBody": "={{ $json.query['hub.challenge'] }}",
        "options": {
          "responseCode": 200
        }
      },
      "id": "8574fd0f-9516-45b8-86be-85251376a8e3",
      "name": "Respond to Webhook",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        1040,
        300
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://n8n-webhook.studiomzt.com.br/webhook/instagram-contests",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ $json.body }}",
        "options": {}
      },
      "id": "286c9df3-e213-47b3-9b4e-a2dd6bad9566",
      "name": "Contests Prod",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1240,
        1180
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "Qse9GD9RrYaMOoaS",
          "name": "Donna Instagram Webhook"
        }
      }
    },
    {
      "parameters": {
        "queue": "Donna-Instagram-Router",
        "options": {
          "arguments": {
            "argument": [
              {
                "key": "x-queue-type",
                "value": "quorum"
              }
            ]
          },
          "durable": true
        }
      },
      "id": "052a176b-3e22-4f47-9549-fff3aeb9d20f",
      "name": "RabbitMQ",
      "type": "n8n-nodes-base.rabbitmq",
      "typeVersion": 1.1,
      "position": [
        1040,
        540
      ],
      "credentials": {
        "rabbitmq": {
          "id": "tu2r8ZlKYBiycQBN",
          "name": "RabbitMQ account"
        }
      }
    },
    {
      "parameters": {
        "queue": "Donna-Instagram-Router",
        "options": {
          "arguments": {
            "argument": [
              {
                "key": "x-queue-type",
                "value": "quorum"
              }
            ]
          },
          "acknowledge": "executionFinishesSuccessfully",
          "durable": true,
          "jsonParseBody": true
        }
      },
      "id": "42a1370c-56f1-40ec-a8fa-1bbc6cd44191",
      "name": "RabbitMQ Trigger",
      "type": "n8n-nodes-base.rabbitmqTrigger",
      "typeVersion": 1,
      "position": [
        800,
        1040
      ],
      "credentials": {
        "rabbitmq": {
          "id": "tu2r8ZlKYBiycQBN",
          "name": "RabbitMQ account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "return $json.content"
      },
      "id": "112aa4cd-b184-40ba-8649-3f72d6659db5",
      "name": "Payload",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1020,
        1040
      ]
    },
    {
      "parameters": {
        "content": "## Token QPWHop3E1nG3b63y9uArkCZQK2PF6QiA",
        "height": 249.71631205673725,
        "width": 499.3617021276599
      },
      "id": "2b2f73ba-3aed-4ee6-ac89-80cb1ae488ae",
      "name": "Sticky Note",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        485.0354609929077,
        460
      ]
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "meta-webhook",
        "options": {}
      },
      "id": "f034208c-b3e7-4397-a907-fb646420de7c",
      "name": "Webhook POST",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        820,
        540
      ],
      "webhookId": "0fcb710d-e537-403e-b2f0-b5742f5f4a1e"
    },
    {
      "parameters": {
        "path": "meta-webhook",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "03fc551a-18d1-44e6-bec3-d966dc8689da",
      "name": "Webhook GET",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        820,
        300
      ],
      "webhookId": "0fcb710d-e537-403e-b2f0-b5742f5f4a1e"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://n8n.studiomzt.com.br/webhook-test/instagram-contests",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ $json.body }}",
        "options": {}
      },
      "id": "7c99dae2-1c87-4daa-be3c-e6d6a784ed5a",
      "name": "Contests Test",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1240,
        900
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "Qse9GD9RrYaMOoaS",
          "name": "Donna Instagram Webhook"
        }
      }
    }
  ],
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [],
  "triggerCount": 3,
  "updatedAt": "2024-11-18T19:39:43.777Z",
  "versionId": "6b2cf161-ae89-490e-bdb0-f3f05fc95c79"
}