workflows/Donna Upload File.json
{
  "active": true,
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "HTTP Request38",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request38": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2024-10-20T22:08:15.113Z",
  "id": "pI1KQkAFGjPZvIP4",
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "name": "Donna Upload File",
  "nodes": [
    {
      "parameters": {
        "method": "POST",
        "url": "https://backend.donnadoro.com.br/files",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "contentType": "multipart-form-data",
        "bodyParameters": {
          "parameters": [
            {
              "name": "folder",
              "value": "={{ $json.body.folder }}"
            },
            {
              "parameterType": "formBinaryData",
              "name": "file",
              "inputDataFieldName": "file"
            }
          ]
        },
        "options": {}
      },
      "id": "85f9dd19-1949-486a-a1d8-34e8d05dc845",
      "name": "HTTP Request38",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1020,
        360
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "gv2igb7M3jLaZsnR",
          "name": "Donna.Doro.API"
        }
      }
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "ea7b2178-a8e7-4c37-aa6d-6f6605b4ebe4",
        "authentication": "headerAuth",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "3e6f6b49-dba9-4573-ad86-bccf0919f230",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        820,
        360
      ],
      "webhookId": "ea7b2178-a8e7-4c37-aa6d-6f6605b4ebe4",
      "credentials": {
        "httpHeaderAuth": {
          "id": "zdUM2yFKiS1sddU9",
          "name": "Donna Upload File Flow"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "allIncomingItems",
        "options": {}
      },
      "id": "fab6183d-508a-4faf-b3e8-353d282d9be5",
      "name": "Respond to Webhook",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        1240,
        360
      ]
    }
  ],
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [],
  "triggerCount": 1,
  "updatedAt": "2024-10-20T23:57:09.000Z",
  "versionId": "2e53b6e1-fece-4f4f-97f3-a116c84bbc56"
}