workflows/Send WhatsApp Messages.json
{
  "active": true,
  "connections": {
    "Aggregate": {
      "main": [
        [
          {
            "node": "Get Contatos",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Trigger List": {
      "main": [
        [
          {
            "node": "Get List Members",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get List Members": {
      "main": [
        [
          {
            "node": "Aggregate",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "Wait",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait": {
      "main": [
        [
          {
            "node": "Loop Over Messages",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Contatos": {
      "main": [
        [
          {
            "node": "Code",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code": {
      "main": [
        [
          {
            "node": "Set Payload",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Out": {
      "main": [
        [
          {
            "node": "Loop Over Contatos",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait1": {
      "main": [
        [
          {
            "node": "Loop Over Contatos",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields1": {
      "main": [
        [
          {
            "node": "Split Out1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Out1": {
      "main": [
        [
          {
            "node": "Loop Over Messages",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Directus",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Payload": {
      "main": [
        [
          {
            "node": "Directus1",
            "type": "main",
            "index": 0
          },
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Triggered From Contacts": {
      "main": [
        [
          {
            "node": "Get Contatos1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Get Trigger List",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Contatos1": {
      "main": [
        [
          {
            "node": "Code",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Directus": {
      "main": [
        [
          {
            "node": "Code1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Contatos": {
      "main": [
        [
          {
            "node": "Loop Over Queue Items",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Edit Fields1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Messages": {
      "main": [
        [
          {
            "node": "Wait1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Queue Items": {
      "main": [
        [
          {
            "node": "No Operation, do nothing",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Split Out",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code1": {
      "main": [
        [
          {
            "node": "Set Payload2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Payload2": {
      "main": [
        [
          {
            "node": "Disable queue items",
            "type": "main",
            "index": 0
          },
          {
            "node": "Loop Over Queue Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Execute Workflow Trigger": {
      "main": [
        [
          {
            "node": "Filter",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Directus1": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "Execute Workflow",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook": {
      "main": [
        [
          {
            "node": "Set Date",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Date": {
      "main": [
        [
          {
            "node": "Triggered From Contacts",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter": {
      "main": [
        [
          {
            "node": "Set Payload2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "No Operation, do nothing": {
      "main": [
        []
      ]
    },
    "Disable queue items": {
      "main": [
        []
      ]
    }
  },
  "createdAt": "2024-11-12T21:19:23.196Z",
  "id": "gID2UUApR9FosqBG",
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "name": "Send WhatsApp Messages",
  "nodes": [
    {
      "parameters": {
        "content": "## /send-whatsapp-messages\n\n### Create and save an execution queue item on whatsapp_queue table\n\nExpected Payload:\n```\n{\n  date: Date for the message to be sent,\n  message: Message content,\n  trigger_collection: Either Contatos or client_lists,\n  ids: Array of clients ids\n  instance: EvolutionApi Instance Name\n}\n```",
        "height": 286.7303896307891,
        "width": 684,
        "color": 5
      },
      "id": "ef58dc5b-6951-488c-9ffd-0858874042a3",
      "name": "Sticky Note",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        300,
        283.26961036921085
      ]
    },
    {
      "parameters": {
        "fieldsToAggregate": {
          "fieldToAggregate": [
            {
              "fieldToAggregate": "Contatos_id",
              "renameField": true,
              "outputFieldName": "ids"
            }
          ]
        },
        "options": {}
      },
      "id": "8a296131-19d2-460e-a667-a24b3782f8b7",
      "name": "Aggregate",
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        1920,
        500
      ]
    },
    {
      "parameters": {
        "operation": "get",
        "id": "={{ $json.body.ids[0] }}",
        "collection": "=client_lists",
        "returnAll": false,
        "limit": 1,
        "additionalFields": {}
      },
      "id": "dc09a933-e78b-429d-9da6-8290f4efe567",
      "name": "Get Trigger List",
      "type": "@flagbit/n8n-nodes-directus.directus",
      "typeVersion": 1,
      "position": [
        1560,
        500
      ],
      "credentials": {
        "directusApi": {
          "id": "iw821PMJLt3Ug3fH",
          "name": "Donna.Doro.Backend"
        }
      }
    },
    {
      "parameters": {
        "collection": "=client_lists_Contatos",
        "additionalFields": {
          "filter": "={\n\t\"id\": {\n\t\t\"_in\": {{ JSON.stringify($json.clients) }}\n\t}\n}"
        }
      },
      "id": "c4a729d2-ffa7-4aa8-9303-e4374ce367d5",
      "name": "Get List Members",
      "type": "@flagbit/n8n-nodes-directus.directus",
      "typeVersion": 1,
      "position": [
        1740,
        500
      ],
      "credentials": {
        "directusApi": {
          "id": "iw821PMJLt3Ug3fH",
          "name": "Donna.Doro.Backend"
        }
      }
    },
    {
      "parameters": {
        "collection": "=Contatos",
        "additionalFields": {
          "filter": "={\n\t\"id\": {\n\t\t\"_in\": {{ JSON.stringify($json.ids) }}\n\t}\n}"
        }
      },
      "id": "f2bbae0a-d090-41df-82cf-ae6c7a41da73",
      "name": "Get Contatos",
      "type": "@flagbit/n8n-nodes-directus.directus",
      "typeVersion": 1,
      "position": [
        2100,
        500
      ],
      "credentials": {
        "directusApi": {
          "id": "iw821PMJLt3Ug3fH",
          "name": "Donna.Doro.Backend"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://whatsapp.studiomzt.com.br/message/sendText/{{ $('Loop Over Queue Items').item.json.instance }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "number",
              "value": "={{ $('Loop Over Contatos').item.json.whatsappID }}"
            },
            {
              "name": "text",
              "value": "={{ $json.messages }}"
            }
          ]
        },
        "options": {}
      },
      "id": "6a4c0c1e-b122-43d9-895a-e887cc9429e4",
      "name": "HTTP Request",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        3260,
        1520
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "c4v8VKf93nLw1Ove",
          "name": "StudioMZT.EvolutionAPI"
        }
      }
    },
    {
      "parameters": {
        "amount": "={{ $('Loop Over Messages').item.json.messages.length / 15 }}"
      },
      "id": "9c557d68-51b1-4fd8-bfee-ee52df306486",
      "name": "Wait",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        3440,
        1520
      ],
      "webhookId": "7a7430fc-20d2-4d91-9dcf-bcedd50ed850"
    },
    {
      "parameters": {
        "amount": 3
      },
      "id": "2b251fbe-db81-4d77-9001-695d44a1c08a",
      "name": "Wait1",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        3260,
        1140
      ],
      "webhookId": "7e810a90-77c0-4418-8a94-e3e2d3b770d8"
    },
    {
      "parameters": {
        "jsCode": "\n\nreturn {contatos: $input.all().map(i => i.json).map(i => ({\n  id: i.id,\n  nome: i.nome,\n  whatsappID: i.whatsappID\n}))}"
      },
      "id": "3ff4de11-2937-439d-b952-808c2885e497",
      "name": "Code",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2380,
        400
      ]
    },
    {
      "parameters": {
        "fieldToSplitOut": "contatos",
        "options": {}
      },
      "id": "d98d60bf-4de7-4f32-b874-000baef9712f",
      "name": "Split Out",
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        2240,
        1100
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "ca5eba1d-ff7d-407a-b5e8-eb172b93e337",
              "name": "messages",
              "value": "={{ $('Loop Over Queue Items').item.json.messages }}",
              "type": "array"
            }
          ]
        },
        "options": {}
      },
      "id": "0d4d42af-bbf9-4a37-879f-6ffbfffe470e",
      "name": "Edit Fields1",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        2700,
        1380
      ]
    },
    {
      "parameters": {
        "fieldToSplitOut": "messages",
        "options": {}
      },
      "id": "191c7dd9-0f0b-4688-b375-3444fb88e10e",
      "name": "Split Out1",
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        2900,
        1380
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "d602090f-0a80-41b4-8bfd-47f358c2c045",
              "name": "send_date",
              "value": "={{ $('Set Date').first().json.body.date }}",
              "type": "string"
            },
            {
              "id": "f8040ad9-8aae-41b5-ac5a-e61cbc324468",
              "name": "instance",
              "value": "={{ $('Webhook').first().json.body.instance }}",
              "type": "string"
            },
            {
              "id": "98f02c21-92a4-4e10-b443-16f80f863673",
              "name": "messages",
              "value": "={{ $('Webhook').first().json.body.message.split(\"\\n\").filter(m => m) }}",
              "type": "array"
            },
            {
              "id": "8433f8b1-54b1-4855-8bf8-d2e46e429990",
              "name": "contatos",
              "value": "={{ $json.contatos }}",
              "type": "array"
            }
          ]
        },
        "options": {}
      },
      "id": "695bc039-a082-42bd-b148-4559092582c9",
      "name": "Set Payload",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        2560,
        400
      ]
    },
    {
      "parameters": {},
      "id": "a4ee4c1a-a0e9-4cd6-840f-3ea4f5fa704a",
      "name": "Execute Workflow Trigger",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1,
      "position": [
        840,
        940
      ]
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "minutes",
              "minutesInterval": 10
            }
          ]
        }
      },
      "id": "32e3405d-8f56-4877-a43e-e448f414673b",
      "name": "Schedule Trigger",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        640,
        1140
      ]
    },
    {
      "parameters": {
        "collection": "=whatsapp_queue",
        "additionalFields": {
          "filter": "={\n  \"_and\": [\n    {\n      \"status\": {\n        \"_eq\": \"scheduled\"\n      }\n    },\n    {\n      \"send_date\": {\n        \"_lte\": \"$NOW\"\n      }\n    }\n  ]\n}"
        }
      },
      "id": "86f1c750-6729-429a-a9e2-7fccbeff0c5a",
      "name": "Directus",
      "type": "@flagbit/n8n-nodes-directus.directus",
      "typeVersion": 1,
      "position": [
        840,
        1140
      ],
      "credentials": {
        "directusApi": {
          "id": "iw821PMJLt3Ug3fH",
          "name": "Donna.Doro.Backend"
        }
      }
    },
    {
      "parameters": {
        "operation": "create",
        "collection": "=whatsapp_queue",
        "data": "={\n  \"send_date\": \"{{ $json.send_date }}\",\n  \"status\": \"scheduled\",\n  \"messages\": {{ JSON.stringify($json.messages) }},\n  \"contatos\": {{ JSON.stringify($json.contatos) }}\n}"
      },
      "id": "c8c43410-0034-4cc5-9952-da74a9a53271",
      "name": "Directus1",
      "type": "@flagbit/n8n-nodes-directus.directus",
      "typeVersion": 1,
      "position": [
        2780,
        280
      ],
      "credentials": {
        "directusApi": {
          "id": "iw821PMJLt3Ug3fH",
          "name": "Donna.Doro.Backend"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "bf523469-4be9-4abf-ad1e-f214c0c6cb00",
              "leftValue": "={{ $json.body.trigger_collection }}",
              "rightValue": "Contatos",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "eea3f06e-2411-499b-b34e-e46fad97c429",
      "name": "Triggered From Contacts",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        1360,
        400
      ]
    },
    {
      "parameters": {
        "collection": "=Contatos",
        "additionalFields": {
          "filter": "={\n\t\"id\": {\n\t\t\"_in\": {{ JSON.stringify($json.body.ids) }}\n\t}\n}"
        }
      },
      "id": "19d2932a-b43a-4d28-bf8a-142d37433ccd",
      "name": "Get Contatos1",
      "type": "@flagbit/n8n-nodes-directus.directus",
      "typeVersion": 1,
      "position": [
        2100,
        280
      ],
      "credentials": {
        "directusApi": {
          "id": "iw821PMJLt3Ug3fH",
          "name": "Donna.Doro.Backend"
        }
      }
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "gID2UUApR9FosqBG",
          "mode": "list",
          "cachedResultName": "Send WhatsApp Messages"
        },
        "options": {}
      },
      "id": "8d692933-ffa9-4629-a822-65e7749682cb",
      "name": "Execute Workflow",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.1,
      "position": [
        3240,
        380
      ]
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "4a81bec6-f4db-4989-95f4-6058b9172698",
      "name": "Loop Over Queue Items",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        1820,
        1020
      ]
    },
    {
      "parameters": {
        "options": {
          "reset": "={{ $(\"Loop Over Contatos\").context[\"done\"] }}"
        }
      },
      "id": "f9432e75-1de4-4bd1-a7c2-3e18f0726628",
      "name": "Loop Over Contatos",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        2500,
        1100
      ]
    },
    {
      "parameters": {
        "options": {
          "reset": "={{ $(\"Loop Over Messages\").context[\"done\"] }}"
        }
      },
      "id": "e331c939-da33-443f-b4a0-034e58116f52",
      "name": "Loop Over Messages",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        3080,
        1380
      ]
    },
    {
      "parameters": {
        "operation": "updateMultiple",
        "data": "={\n\t\"keys\": {{ JSON.stringify($('Set Payload2').all().map(i => i.json.id)) }},\n\t\"data\": {\n\t\t\"status\": \"sent\"\n\t}\n}",
        "collection": "=whatsaapp_queue"
      },
      "id": "96bae02a-9ef4-49f7-bc12-b6bee2da1991",
      "name": "Directus2",
      "type": "@flagbit/n8n-nodes-directus.directus",
      "typeVersion": 1,
      "position": [
        1900,
        800
      ],
      "credentials": {
        "directusApi": {
          "id": "iw821PMJLt3Ug3fH",
          "name": "Donna.Doro.Backend"
        }
      }
    },
    {
      "parameters": {
        "content": "\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n## Execution Workflow\n\n### Runs every 10 minutes. Takes items from the whatsapp_queue table and executing sending the messages to WhatsApp\n\n",
        "height": 1010,
        "width": 3079
      },
      "id": "890354c5-74db-4a3c-b714-7b0910d29da7",
      "name": "Sticky Note1",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        580,
        780
      ]
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "// Add a new field called 'myNewField' to the JSON of the item\n$input.item.json.instance = \"Donna67992903483\";\n\nreturn $input.item;"
      },
      "id": "ca78f764-1f0d-41cd-98d0-7a200bbfe2fe",
      "name": "Code1",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1060,
        1140
      ]
    },
    {
      "parameters": {
        "jsCode": "return $input.all();"
      },
      "id": "507eb078-915b-4d6a-b58d-1d1a9c61f66e",
      "name": "Set Payload2",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1360,
        1020
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "b5ba38d8-c054-4edf-af32-f14f381044c5",
              "name": "instance",
              "value": "Donna67992903483",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "5e7eafca-a9e5-4239-8865-cf9c1df30ae6",
      "name": "Edit Fields",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        2780,
        460
      ]
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineByPosition",
        "options": {}
      },
      "id": "69da213e-7685-49fc-abc7-2f7adb22e6d0",
      "name": "Merge",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3,
      "position": [
        3040,
        380
      ]
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "send-whatsapp-messages",
        "authentication": "headerAuth",
        "options": {}
      },
      "id": "d83a121a-3c84-4f9f-b7c8-efefee864143",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        820,
        400
      ],
      "webhookId": "2bf13b40-07a1-4255-bfc3-f51beefdef61",
      "credentials": {
        "httpHeaderAuth": {
          "id": "2iaR32ovU8dTOWaq",
          "name": "Send WhatsApp Message Webhook"
        }
      }
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "// Add a new field called 'myNewField' to the JSON of the item\n$input.item.json.body.date = $now.toISO();\n\nreturn $input.item;"
      },
      "id": "b5ba15b5-0c27-49a2-8200-120245ca2468",
      "name": "Set Date",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1120,
        400
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "cc213177-627a-4e74-ae73-542004b0427c",
              "leftValue": "={{ $json.send_date }}",
              "rightValue": "={{ $now }}",
              "operator": {
                "type": "dateTime",
                "operation": "before"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "e0b74700-fca4-4913-9722-55df4857a0fa",
      "name": "Filter",
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2.2,
      "position": [
        1060,
        940
      ]
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        2240,
        920
      ],
      "id": "bca3f307-ff72-4c45-9ccd-9d312f932fdf",
      "name": "No Operation, do nothing"
    },
    {
      "parameters": {
        "method": "PATCH",
        "url": "https://backend.donnadoro.com.br/items/whatsapp_queue",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n\t\"keys\": {{ JSON.stringify($('Set Payload2').all().map(i => i.json.id)) }},\n\t\"data\": {\n\t\t\"status\": \"sent\"\n\t}\n}",
        "options": {}
      },
      "id": "bbafe94a-39f4-4a15-b5a4-8bd98c08e2f1",
      "name": "Disable queue items",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1600,
        840
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "gv2igb7M3jLaZsnR",
          "name": "Donna.Doro.API"
        }
      }
    }
  ],
  "pinData": {
    "Webhook": [
      {
        "json": {
          "headers": {
            "host": "n8n-webhook.studiomzt.com.br",
            "user-agent": "axios/1.7.7",
            "content-length": "212",
            "accept": "application/json, text/plain, */*",
            "accept-encoding": "gzip, compress, deflate, br",
            "authorization": "Bearer JU9R6g0x4W8wOOB4AlrH4mdSWdsLTKKI",
            "content-type": "application/json",
            "x-forwarded-for": "192.168.160.1",
            "x-forwarded-host": "n8n-webhook.studiomzt.com.br",
            "x-forwarded-port": "443",
            "x-forwarded-proto": "https",
            "x-forwarded-server": "efa03eb01cf4",
            "x-real-ip": "192.168.160.1"
          },
          "params": {},
          "query": {},
          "body": {
            "date": null,
            "message": "test 1\ntest 2\nAnd finally, test 3!!!",
            "trigger_collection": "Contatos",
            "ids": [
              "c6c12886-e4cf-4b26-8a6a-327e6c86c02c",
              "f1bb5b12-893a-4302-9a1f-e3976cdb9120"
            ],
            "instance": "Donna67992903483"
          },
          "webhookUrl": "https://n8n-webhook.studiomzt.com.br/webhook/send-whatsapp-messages",
          "executionMode": "production"
        }
      }
    ]
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": {
    "node:Schedule Trigger": {
      "recurrenceRules": []
    }
  },
  "tags": [],
  "triggerCount": 2,
  "updatedAt": "2024-12-17T19:19:16.193Z",
  "versionId": "689c774b-1d2d-456e-84fd-87743e16770b"
}