workflows/Send WhatsApp Messages.json
{
  "active": true,
  "connections": {
    "Is Single Contact": {
      "main": [
        [
          {
            "node": "Get Contato",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Get Trigger List",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aggregate": {
      "main": [
        [
          {
            "node": "Get Contatos",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Trigger List": {
      "main": [
        [
          {
            "node": "Get List Members",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get List Members": {
      "main": [
        [
          {
            "node": "Aggregate",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Contato": {
      "main": [
        [
          {
            "node": "Set Contatos Array",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "Wait",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait": {
      "main": [
        [
          {
            "node": "Loop Over Items1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items1": {
      "main": [
        [
          {
            "node": "Wait1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Contatos": {
      "main": [
        [
          {
            "node": "Code",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Contatos Array": {
      "main": [
        [
          {
            "node": "Set Payload",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code": {
      "main": [
        [
          {
            "node": "Set Payload",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Out": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [],
        [
          {
            "node": "Edit Fields1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait1": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields1": {
      "main": [
        [
          {
            "node": "Split Out1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Out1": {
      "main": [
        [
          {
            "node": "Loop Over Items1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook": {
      "main": [
        [
          {
            "node": "Is Single Contact",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Directus",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Payload": {
      "main": [
        [
          {
            "node": "Directus1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2024-11-12T21:19:23.196Z",
  "id": "gID2UUApR9FosqBG",
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "name": "Send WhatsApp Messages",
  "nodes": [
    {
      "parameters": {
        "content": "## /send-whatsapp-messages\n\nExpected Payload:\n```\n{\n  date: Date for the message to be sent,\n  message: Message content,\n  trigger_collection: Either Contatos or client_lists,\n  ids: Array of clients ids\n  instance: EvolutionApi Instance Name\n}\n```",
        "height": 230,
        "width": 684,
        "color": 5
      },
      "id": "ef58dc5b-6951-488c-9ffd-0858874042a3",
      "name": "Sticky Note",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        300,
        340
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "bf523469-4be9-4abf-ad1e-f214c0c6cb00",
              "leftValue": "={{ $json.body.trigger_collection }}",
              "rightValue": "Contatos",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "eea3f06e-2411-499b-b34e-e46fad97c429",
      "name": "Is Single Contact",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        1060,
        400
      ]
    },
    {
      "parameters": {
        "fieldsToAggregate": {
          "fieldToAggregate": [
            {
              "fieldToAggregate": "Contatos_id",
              "renameField": true,
              "outputFieldName": "ids"
            }
          ]
        },
        "options": {}
      },
      "id": "8a296131-19d2-460e-a667-a24b3782f8b7",
      "name": "Aggregate",
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        1700,
        500
      ]
    },
    {
      "parameters": {
        "operation": "get",
        "id": "={{ $json.body.ids[0] }}",
        "collection": "=client_lists",
        "returnAll": false,
        "limit": 1,
        "additionalFields": {}
      },
      "id": "dc09a933-e78b-429d-9da6-8290f4efe567",
      "name": "Get Trigger List",
      "type": "@flagbit/n8n-nodes-directus.directus",
      "typeVersion": 1,
      "position": [
        1340,
        500
      ],
      "credentials": {
        "directusApi": {
          "id": "iw821PMJLt3Ug3fH",
          "name": "Donna.Doro.Backend"
        }
      }
    },
    {
      "parameters": {
        "collection": "=client_lists_Contatos",
        "additionalFields": {
          "filter": "={\n\t\"id\": {\n\t\t\"_in\": {{ JSON.stringify($json.clients) }}\n\t}\n}"
        }
      },
      "id": "c4a729d2-ffa7-4aa8-9303-e4374ce367d5",
      "name": "Get List Members",
      "type": "@flagbit/n8n-nodes-directus.directus",
      "typeVersion": 1,
      "position": [
        1520,
        500
      ],
      "credentials": {
        "directusApi": {
          "id": "iw821PMJLt3Ug3fH",
          "name": "Donna.Doro.Backend"
        }
      }
    },
    {
      "parameters": {
        "collection": "=Contatos",
        "additionalFields": {
          "filter": "={\n\t\"id\": {\n\t\t\"_in\": {{ JSON.stringify($json.ids) }}\n\t}\n}"
        }
      },
      "id": "f2bbae0a-d090-41df-82cf-ae6c7a41da73",
      "name": "Get Contatos",
      "type": "@flagbit/n8n-nodes-directus.directus",
      "typeVersion": 1,
      "position": [
        1880,
        500
      ],
      "credentials": {
        "directusApi": {
          "id": "iw821PMJLt3Ug3fH",
          "name": "Donna.Doro.Backend"
        }
      }
    },
    {
      "parameters": {
        "operation": "get",
        "id": "={{ $json.body.ids[0] }}",
        "collection": "=Contatos",
        "additionalFields": {}
      },
      "id": "19d2932a-b43a-4d28-bf8a-142d37433ccd",
      "name": "Get Contato",
      "type": "@flagbit/n8n-nodes-directus.directus",
      "typeVersion": 1,
      "position": [
        1880,
        280
      ],
      "credentials": {
        "directusApi": {
          "id": "iw821PMJLt3Ug3fH",
          "name": "Donna.Doro.Backend"
        }
      }
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "\nreturn ({contatos: [{\n  id: $json.id,\n  nome: $json.nome,\n  whatsappID: $json.whatsappID\n}]});"
      },
      "id": "9bc45f4d-1897-4bc2-b321-306f011fcf85",
      "name": "Set Contatos Array",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2060,
        280
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://whatsapp.studiomzt.com.br/message/sendText/{{ $('Set Payload').item.json.instance }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "number",
              "value": "={{ $('Loop Over Items').item.json.whatsappID }}"
            },
            {
              "name": "text",
              "value": "={{ $json.messages }}"
            }
          ]
        },
        "options": {}
      },
      "id": "6a4c0c1e-b122-43d9-895a-e887cc9429e4",
      "name": "HTTP Request",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2440,
        1740
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "c4v8VKf93nLw1Ove",
          "name": "StudioMZT.EvolutionAPI"
        }
      }
    },
    {
      "parameters": {
        "amount": "={{ $('Loop Over Items1').item.json.messages.length / 15 }}"
      },
      "id": "9c557d68-51b1-4fd8-bfee-ee52df306486",
      "name": "Wait",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        2620,
        1740
      ],
      "webhookId": "7a7430fc-20d2-4d91-9dcf-bcedd50ed850"
    },
    {
      "parameters": {
        "options": {
          "reset": "={{ $(\"Loop Over Items1\").context[\"done\"] }}"
        }
      },
      "id": "e331c939-da33-443f-b4a0-034e58116f52",
      "name": "Loop Over Items1",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        2260,
        1600
      ]
    },
    {
      "parameters": {
        "amount": 3
      },
      "id": "2b251fbe-db81-4d77-9001-695d44a1c08a",
      "name": "Wait1",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        2440,
        1360
      ],
      "webhookId": "7e810a90-77c0-4418-8a94-e3e2d3b770d8"
    },
    {
      "parameters": {
        "jsCode": "\n\nreturn {contatos: $input.all().map(i => i.json).map(i => ({\n  id: i.id,\n  nome: i.nome,\n  whatsappID: i.whatsappID\n}))}"
      },
      "id": "3ff4de11-2937-439d-b952-808c2885e497",
      "name": "Code",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2060,
        500
      ]
    },
    {
      "parameters": {
        "fieldToSplitOut": "contatos",
        "options": {}
      },
      "id": "d98d60bf-4de7-4f32-b874-000baef9712f",
      "name": "Split Out",
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        1380,
        1280
      ]
    },
    {
      "parameters": {
        "options": {
          "reset": false
        }
      },
      "id": "f9432e75-1de4-4bd1-a7c2-3e18f0726628",
      "name": "Loop Over Items",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        1580,
        1280
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "ca5eba1d-ff7d-407a-b5e8-eb172b93e337",
              "name": "messages",
              "value": "={{ $('Set Payload').item.json.messages }}",
              "type": "array"
            }
          ]
        },
        "options": {}
      },
      "id": "0d4d42af-bbf9-4a37-879f-6ffbfffe470e",
      "name": "Edit Fields1",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1880,
        1600
      ]
    },
    {
      "parameters": {
        "fieldToSplitOut": "messages",
        "options": {}
      },
      "id": "191c7dd9-0f0b-4688-b375-3444fb88e10e",
      "name": "Split Out1",
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        2080,
        1600
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "d602090f-0a80-41b4-8bfd-47f358c2c045",
              "name": "send_date",
              "value": "={{ $('Webhook').first().json.body.date }}",
              "type": "string"
            },
            {
              "id": "f8040ad9-8aae-41b5-ac5a-e61cbc324468",
              "name": "instance",
              "value": "={{ $('Webhook').first().json.body.instance }}",
              "type": "string"
            },
            {
              "id": "98f02c21-92a4-4e10-b443-16f80f863673",
              "name": "messages",
              "value": "={{ $('Webhook').first().json.body.message.split(\"\\n\").filter(m => m) }}",
              "type": "array"
            },
            {
              "id": "8433f8b1-54b1-4855-8bf8-d2e46e429990",
              "name": "contatos",
              "value": "={{ $json.contatos }}",
              "type": "array"
            }
          ]
        },
        "options": {}
      },
      "id": "695bc039-a082-42bd-b148-4559092582c9",
      "name": "Set Payload",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        2340,
        400
      ]
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "send-whatsapp-messages",
        "authentication": "headerAuth",
        "options": {}
      },
      "id": "d83a121a-3c84-4f9f-b7c8-efefee864143",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        820,
        400
      ],
      "webhookId": "2bf13b40-07a1-4255-bfc3-f51beefdef61",
      "credentials": {
        "httpHeaderAuth": {
          "id": "2iaR32ovU8dTOWaq",
          "name": "Send WhatsApp Message Webhook"
        }
      }
    },
    {
      "parameters": {},
      "id": "a4ee4c1a-a0e9-4cd6-840f-3ea4f5fa704a",
      "name": "Execute Workflow Trigger",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1,
      "position": [
        820,
        940
      ]
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "minutes",
              "minutesInterval": 10
            }
          ]
        }
      },
      "id": "32e3405d-8f56-4877-a43e-e448f414673b",
      "name": "Schedule Trigger",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        800,
        1440
      ]
    },
    {
      "parameters": {
        "collection": "=whatsapp_queue",
        "additionalFields": {
          "filter": "={\n  \"_and\": [\n    {\n      \"status\": {\n        \"_eq\": \"scheduled\"\n      }\n    },\n    {\n      \"send_date\": {\n        \"_lte\": \"$NOW\"\n      }\n    }\n  ]\n}"
        }
      },
      "id": "86f1c750-6729-429a-a9e2-7fccbeff0c5a",
      "name": "Directus",
      "type": "@flagbit/n8n-nodes-directus.directus",
      "typeVersion": 1,
      "position": [
        1020,
        1440
      ],
      "credentials": {
        "directusApi": {
          "id": "iw821PMJLt3Ug3fH",
          "name": "Donna.Doro.Backend"
        }
      }
    },
    {
      "parameters": {
        "operation": "create",
        "collection": "=whatsapp_queue",
        "data": "={\n  \"send_date\": \"{{ $json.send_date }}\",\n  \"status\": \"scheduled\",\n  \"messages\": {{ JSON.stringify($json.messages) }},\n  \"contatos\": {{ JSON.stringify($json.contatos) }}\n}"
      },
      "id": "c8c43410-0034-4cc5-9952-da74a9a53271",
      "name": "Directus1",
      "type": "@flagbit/n8n-nodes-directus.directus",
      "typeVersion": 1,
      "position": [
        2560,
        400
      ],
      "credentials": {
        "directusApi": {
          "id": "iw821PMJLt3Ug3fH",
          "name": "Donna.Doro.Backend"
        }
      }
    }
  ],
  "pinData": {
    "Webhook": [
      {
        "json": {
          "headers": {
            "host": "n8n-webhook.studiomzt.com.br",
            "user-agent": "axios/1.7.7",
            "content-length": "172",
            "accept": "application/json, text/plain, */*",
            "accept-encoding": "gzip, compress, deflate, br",
            "authorization": "Bearer JU9R6g0x4W8wOOB4AlrH4mdSWdsLTKKI",
            "content-type": "application/json",
            "x-forwarded-for": "192.168.160.1",
            "x-forwarded-host": "n8n-webhook.studiomzt.com.br",
            "x-forwarded-port": "443",
            "x-forwarded-proto": "https",
            "x-forwarded-server": "efa03eb01cf4",
            "x-real-ip": "192.168.160.1"
          },
          "params": {},
          "query": {},
          "body": {
            "date": "2024-11-17T12:00:00",
            "message": "Test message\nHey!!!",
            "trigger_collection": "Contatos",
            "ids": [
              "c6c12886-e4cf-4b26-8a6a-327e6c86c02c"
            ],
            "instance": "Donna67992903483"
          },
          "webhookUrl": "https://n8n-webhook.studiomzt.com.br/webhook/send-whatsapp-messages",
          "executionMode": "production"
        }
      }
    ]
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": {
    "node:Schedule Trigger": {
      "recurrenceRules": []
    }
  },
  "tags": [],
  "triggerCount": 2,
  "updatedAt": "2024-11-16T14:27:40.412Z",
  "versionId": "f4561e91-ba00-4e01-9ae2-f8f761915a11"
}