workflows/Update Bling Data.json
{
  "active": true,
  "connections": {
    "HTTP Request26": {
      "main": [
        [
          {
            "node": "donna_clients",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "donna_clients": {
      "main": [
        [
          {
            "node": "Loop Over Items6",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items6": {
      "main": [
        [
          {
            "node": "Filter4",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Wait2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request28": {
      "main": [
        [
          {
            "node": "Aggregate2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "blingToken": {
      "main": [
        [
          {
            "node": "HTTP Request26",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Tem Vendas?": {
      "main": [
        [
          {
            "node": "vendas",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Loop Over Items6",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request29": {
      "main": [
        [
          {
            "node": "Aggregate6",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "vendas": {
      "main": [
        [
          {
            "node": "Loop Over Items7",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items7": {
      "main": [
        [
          {
            "node": "Edit Fields3",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Wait1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "getVendaDetails": {
      "main": [
        [
          {
            "node": "getVendaSummary",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "getVendaSummary": {
      "main": [
        [
          {
            "node": "Loop Over Items7",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields3": {
      "main": [
        [
          {
            "node": "Aggregate1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter4": {
      "main": [
        [
          {
            "node": "Results",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aggregate1": {
      "main": [
        [
          {
            "node": "Loop Over Items6",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request31": {
      "main": [
        [
          {
            "node": "donna_clients2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "donna_clients2": {
      "main": [
        [
          {
            "node": "Loop Over Items8",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items8": {
      "main": [
        [
          {
            "node": "HTTP Request1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "HTTP Request32",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request32": {
      "main": [
        [
          {
            "node": "Aggregate",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "blingToken1": {
      "main": [
        [
          {
            "node": "HTTP Request31",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields7": {
      "main": [
        [
          {
            "node": "If1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Out14": {
      "main": [
        [
          {
            "node": "Filter6",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request37": {
      "main": [
        [
          {
            "node": "Edit Fields8",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait": {
      "main": [
        [
          {
            "node": "Filter5",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter6": {
      "main": [
        [
          {
            "node": "Edit Fields7",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields8": {
      "main": [
        [
          {
            "node": "Code2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code2": {
      "main": [
        [
          {
            "node": "Loop Over Items8",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If1": {
      "main": [
        [
          {
            "node": "HTTP Request37",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Edit Fields8",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter5": {
      "main": [
        [
          {
            "node": "Split Out14",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "Filter",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Results": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter": {
      "main": [
        [
          {
            "node": "Filter1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter1": {
      "main": [
        [
          {
            "node": "FinalResults",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "FinalResults": {
      "main": [
        [
          {
            "node": "HTTP Request30",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "blingToken",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait1": {
      "main": [
        [
          {
            "node": "HTTP Request29",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait2": {
      "main": [
        [
          {
            "node": "HTTP Request28",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request1": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Filter2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter2": {
      "main": [
        [
          {
            "node": "Filter3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter3": {
      "main": [
        [
          {
            "node": "Edit Fields1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields1": {
      "main": [
        [
          {
            "node": "HTTP Request36",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Schedule Trigger1": {
      "main": [
        [
          {
            "node": "blingToken1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "blingToken2": {
      "main": [
        [
          {
            "node": "HTTP Request34",
            "type": "main",
            "index": 0
          },
          {
            "node": "HTTP Request33",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aggregate": {
      "main": [
        [
          {
            "node": "Wait",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aggregate2": {
      "main": [
        [
          {
            "node": "Tem Vendas?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request33": {
      "main": [
        [
          {
            "node": "Aggregate3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aggregate3": {
      "main": [
        [
          {
            "node": "If3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Out": {
      "main": [
        [
          {
            "node": "Filter7",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter7": {
      "main": [
        [
          {
            "node": "Edit Fields9",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields9": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "HTTP Request38",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Edit Fields10",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request38": {
      "main": [
        [
          {
            "node": "Edit Fields10",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields10": {
      "main": [
        [
          {
            "node": "Code",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request34": {
      "main": [
        [
          {
            "node": "Aggregate4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aggregate4": {
      "main": [
        [
          {
            "node": "If2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Out1": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request35": {
      "main": [
        [
          {
            "node": "getVendaDetails1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [
          {
            "node": "Edit Fields4",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Wait3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "getVendaDetails1": {
      "main": [
        [
          {
            "node": "getVendaSummary1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "getVendaSummary1": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields4": {
      "main": [
        [
          {
            "node": "Aggregate5",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait3": {
      "main": [
        [
          {
            "node": "HTTP Request35",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aggregate6": {
      "main": [
        [
          {
            "node": "getVendaDetails",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aggregate5": {
      "main": [
        [
          {
            "node": "Code1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code1": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If2": {
      "main": [
        [
          {
            "node": "Edit Fields2",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Split Out1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields2": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "If3": {
      "main": [
        [
          {
            "node": "Split Out",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Edit Fields5",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields5": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook": {
      "main": [
        [
          {
            "node": "blingToken2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2024-10-15T02:08:31.086Z",
  "id": "wvNsL4Ul5ByUtdKB",
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "name": "Update Bling Data",
  "nodes": [
    {
      "parameters": {
        "url": "https://backend.donnadoro.com.br/items/Contatos?limit=10000&filter[erpID][_nempty]",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "options": {}
      },
      "id": "1290f049-38fe-4337-b547-367bf24fa0fa",
      "name": "HTTP Request26",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1480,
        600
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "gv2igb7M3jLaZsnR",
          "name": "Donna.Doro.API"
        }
      }
    },
    {
      "parameters": {
        "content": "## UpdateSales History into clients' records",
        "height": 879.8842667379272,
        "width": 3151.4745042808718
      },
      "id": "e3696cfd-3c06-4113-ac65-25c4918fd841",
      "name": "Sticky Note",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        1000,
        420
      ]
    },
    {
      "parameters": {
        "fieldToSplitOut": "data",
        "options": {}
      },
      "id": "b00ef679-95b1-445a-8cc6-3ad0f32ca138",
      "name": "donna_clients",
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        1660,
        600
      ]
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "3f451334-6a59-4f1d-be3b-e0412e26e395",
      "name": "Loop Over Items6",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        1840,
        600
      ]
    },
    {
      "parameters": {
        "url": "=https://api.bling.com.br/Api/v3/pedidos/vendas?idContato={{ $json.erpID }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{ $('blingToken').item.json.access_token }}"
            }
          ]
        },
        "options": {
          "batching": {
            "batch": {
              "batchSize": 1
            }
          },
          "pagination": {
            "pagination": {
              "parameters": {
                "parameters": [
                  {
                    "name": "pagina",
                    "value": "={{ $pageCount + 1 }}"
                  }
                ]
              },
              "paginationCompleteWhen": "other",
              "completeExpression": "={{ $response.body.data.length === 0 }}",
              "requestInterval": 500
            }
          }
        }
      },
      "id": "a92e5542-74c5-4bcd-8478-0b9c787324cd",
      "name": "HTTP Request28",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2140,
        760
      ]
    },
    {
      "parameters": {
        "operation": "get",
        "propertyName": "access_token",
        "key": "erp_access_token",
        "keyType": "string",
        "options": {}
      },
      "id": "d76ef444-195e-48f2-9615-30a1acad5947",
      "name": "blingToken",
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        1300,
        600
      ],
      "credentials": {
        "redis": {
          "id": "xO1fxD1a2KzN70fl",
          "name": "Redis 5"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "9eb6a357-168e-43a1-b3e8-f552f7ce1690",
              "leftValue": "={{ $json.data }}",
              "rightValue": "",
              "operator": {
                "type": "array",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "e8402d8c-1fc8-4186-a800-6f64409ab70a",
      "name": "Tem Vendas?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        2460,
        760
      ]
    },
    {
      "parameters": {
        "url": "=https://api.bling.com.br/Api/v3/pedidos/vendas/{{ $json.id }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{ $('blingToken').last().json.access_token }}"
            }
          ]
        },
        "options": {
          "batching": {
            "batch": {
              "batchSize": 1
            }
          },
          "pagination": {
            "pagination": {
              "paginationMode": "off"
            }
          }
        }
      },
      "id": "fcbf2e99-820f-497a-b81a-c02278976508",
      "name": "HTTP Request29",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        3280,
        1020
      ]
    },
    {
      "parameters": {
        "fieldToSplitOut": "data",
        "options": {}
      },
      "id": "c1bc26bb-7d0e-4075-a125-9275a4751ab0",
      "name": "vendas",
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        2640,
        760
      ],
      "alwaysOutputData": false
    },
    {
      "parameters": {
        "options": {
          "reset": "={{ $('Loop Over Items7').context.done }}"
        }
      },
      "id": "de954fb9-ffa6-4f22-adb7-56fbadc2e3be",
      "name": "Loop Over Items7",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        2800,
        760
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "6c278a4c-70e4-4998-b69c-7a031dec2e1a",
              "name": "numero",
              "value": "={{ $json.data.numero }}",
              "type": "number"
            },
            {
              "id": "06fba608-c9c4-46bc-835a-40dbb184cb60",
              "name": "total",
              "value": "={{ $json.data.total }}",
              "type": "number"
            },
            {
              "id": "c1494b69-90f6-456f-8138-8afa681065db",
              "name": "data",
              "value": "={{ $json.data.data }}",
              "type": "string"
            },
            {
              "id": "add31efe-4c85-4559-8781-b117a67febbe",
              "name": "itens",
              "value": "=| **Código** | **Qtde** | **Descrição**                                           | **Preço** |\n|--------|------|-----------------------------------------------------|------------|\n{{ $json.data.itens.map(i => '| ' + i.codigo + ' | ' + i.quantidade + ' | ' + i.descricao + ' | ' + i.valor.toLocaleString('pt-BR', { style: 'currency', currency: 'BRL' }) + ' |').join('\\n') }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "279c0611-0384-4ac2-8c0a-856d5516a7a0",
      "name": "getVendaDetails",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        3700,
        1020
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "09aa6459-6ba4-425f-8d1a-1c88b974cab8",
              "name": "historico_de_vendas",
              "value": "=### Venda {{ $json.numero }} - {{ $json.data }}\n\n{{ $json.itens }}\n\n**Total: {{ $json.total.toLocaleString('pt-BR', { style: 'currency', currency: 'BRL' }) }}**",
              "type": "string"
            },
            {
              "id": "15c04770-ea9c-42f8-88b0-f8f4a115b1cb",
              "name": "id",
              "value": "={{ $('Loop Over Items6').item.json.id }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "f96f4bbb-8e5a-40f7-a56b-5313e84d8a89",
      "name": "getVendaSummary",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        3900,
        1020
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "883c1f3e-917f-406a-aece-6cae0994d70a",
              "name": "id",
              "value": "={{ $('Loop Over Items6').item.json.id }}",
              "type": "string"
            },
            {
              "id": "11de5a19-b838-4aa8-b792-d2324b80dccc",
              "name": "historico_de_vendas",
              "value": "={{ $json.historico_de_vendas }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "691545ce-c8d5-4134-a505-ce60a9d9708c",
      "name": "Edit Fields3",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        3040,
        760
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "2fdf547a-5985-4088-9711-20c0f270c715",
              "leftValue": "={{ $json.id }}",
              "rightValue": "",
              "operator": {
                "type": "array",
                "operation": "exists",
                "singleValue": true
              }
            },
            {
              "id": "5245fd22-1453-4d07-a75f-7b9020916cff",
              "leftValue": "={{ $json.historico_de_vendas }}",
              "rightValue": "",
              "operator": {
                "type": "array",
                "operation": "exists",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "3e99204f-10fb-47f0-8a12-633314fe7d90",
      "name": "Filter4",
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2.2,
      "position": [
        2060,
        600
      ]
    },
    {
      "parameters": {
        "method": "PATCH",
        "url": "=https://backend.donnadoro.com.br/items/Contatos/{{ $json.id }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "historico_de_compras",
              "value": "={{ $json.historico_de_vendas }}"
            },
            {
              "name": "comprador",
              "value": "true"
            }
          ]
        },
        "options": {}
      },
      "id": "88625c78-a1ad-456f-8547-97f2fdec39ac",
      "name": "HTTP Request30",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        3340,
        600
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "gv2igb7M3jLaZsnR",
          "name": "Donna.Doro.API"
        }
      }
    },
    {
      "parameters": {
        "fieldsToAggregate": {
          "fieldToAggregate": [
            {
              "fieldToAggregate": "historico_de_vendas"
            },
            {
              "fieldToAggregate": "id"
            }
          ]
        },
        "options": {
          "mergeLists": false
        }
      },
      "id": "ae753320-9a79-4380-9746-86aec0306c07",
      "name": "Aggregate1",
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        3280,
        760
      ]
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "triggerAtHour": 4
            }
          ]
        }
      },
      "id": "81aa41c4-68f3-4eb5-ae9a-8fc653b0e02f",
      "name": "Schedule Trigger",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        1120,
        600
      ]
    },
    {
      "parameters": {
        "url": "https://backend.donnadoro.com.br/items/Contatos?limit=1000&filter[erpID][_nempty]",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "options": {}
      },
      "id": "94084aaa-8a79-4690-a8f9-4a3046c7fb4d",
      "name": "HTTP Request31",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1360,
        1680
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "gv2igb7M3jLaZsnR",
          "name": "Donna.Doro.API"
        }
      }
    },
    {
      "parameters": {
        "content": "## Insert em aberto into clients",
        "height": 600.4651134422579,
        "width": 3650.323466210743
      },
      "id": "56b5727d-d435-45c3-8e88-5fe188ceebca",
      "name": "Sticky Note2",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        1000,
        1520
      ]
    },
    {
      "parameters": {
        "fieldToSplitOut": "data",
        "options": {}
      },
      "id": "b495f8a0-ef64-4973-a4d4-2e2bfae7f8e8",
      "name": "donna_clients2",
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        1540,
        1680
      ]
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "f6fbfe0f-338c-43a8-9685-918c78e9bf0f",
      "name": "Loop Over Items8",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        1720,
        1680
      ]
    },
    {
      "parameters": {
        "url": "=https://api.bling.com.br/Api/v3/contas/receber?idContato={{ $json.erpID }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{ $('blingToken1').item.json.access_token }}"
            }
          ]
        },
        "options": {
          "batching": {
            "batch": {
              "batchSize": 1
            }
          },
          "pagination": {
            "pagination": {
              "parameters": {
                "parameters": [
                  {
                    "name": "pagina",
                    "value": "={{ $pageCount + 1 }}"
                  }
                ]
              },
              "paginationCompleteWhen": "other",
              "completeExpression": "={{ $response.body.data.length === 0 }}",
              "requestInterval": 500
            }
          }
        }
      },
      "id": "de2384bf-e10e-4d02-9445-18e33220b3e1",
      "name": "HTTP Request32",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1880,
        1840
      ]
    },
    {
      "parameters": {
        "operation": "get",
        "propertyName": "access_token",
        "key": "erp_access_token",
        "keyType": "string",
        "options": {}
      },
      "id": "0bb16377-ce10-40d0-8f77-795cb66ed1d3",
      "name": "blingToken1",
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        1200,
        1680
      ],
      "credentials": {
        "redis": {
          "id": "xO1fxD1a2KzN70fl",
          "name": "Redis 5"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "84baabcb-774a-404c-b1a3-f8ca7ca66078",
              "name": "contaId",
              "value": "={{ $json.id }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "43df9559-5c1f-4327-a81e-f0e4e8c274fa",
      "name": "Edit Fields7",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        3300,
        1840
      ]
    },
    {
      "parameters": {
        "fieldToSplitOut": "data",
        "options": {}
      },
      "id": "8059418b-8861-4ab5-a8da-3106b05090d0",
      "name": "Split Out14",
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        2760,
        1840
      ],
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "url": "=https://api.bling.com.br/Api/v3/contas/receber/{{ $json.contaId }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{ $('blingToken1').item.json.access_token }}"
            }
          ]
        },
        "options": {
          "batching": {
            "batch": {
              "batchSize": 1,
              "batchInterval": 1200
            }
          }
        }
      },
      "id": "c30b3c20-d447-4a61-bece-0006742f378d",
      "name": "HTTP Request37",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        3840,
        1680
      ]
    },
    {
      "parameters": {
        "amount": 1
      },
      "id": "5b377917-a227-4394-9e4d-29b8f22044af",
      "name": "Wait",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        2300,
        1840
      ],
      "webhookId": "dc0bc1d3-f97f-4493-b8a9-84046fbbb67d"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "d06a1550-13c4-440a-9fdc-ea0104f8c0bb",
              "leftValue": "={{ $json.situacao }}",
              "rightValue": 1,
              "operator": {
                "type": "number",
                "operation": "equals"
              }
            },
            {
              "id": "690144b8-ddee-4b3c-9d68-461f04146055",
              "leftValue": "={{ $json.situacao }}",
              "rightValue": 3,
              "operator": {
                "type": "number",
                "operation": "equals"
              }
            }
          ],
          "combinator": "or"
        },
        "options": {}
      },
      "id": "c7d4e0ae-6c61-4e9e-bf6d-7ebd1a86dc5a",
      "name": "Filter6",
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2.2,
      "position": [
        3020,
        1840
      ],
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "dfacb41e-4497-4c71-ab96-e4f039512680",
              "name": "id",
              "value": "={{ $('Loop Over Items8').item.json.id }}",
              "type": "string"
            },
            {
              "id": "fda9247a-98b6-400f-8c8d-93daba426292",
              "name": "amount",
              "value": "={{ $json.data.saldo ? $json.data.saldo : $json.data.valor }}",
              "type": "number"
            }
          ]
        },
        "options": {}
      },
      "id": "4cef09c4-393a-4a02-844f-2791a8de3fff",
      "name": "Edit Fields8",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        4120,
        1840
      ]
    },
    {
      "parameters": {
        "jsCode": "let amount = 0\nlet id = ''\n\n// Loop over input items and add a new field called 'myNewField' to the JSON of each one\nfor (const item of $input.all()) {\n  id = item.json.id\n  amount = amount + (item.json.amount)\n}\n\nreturn {\n  id,\n  amount\n}"
      },
      "id": "95ef782e-1aa7-414b-882f-6bb8281adba8",
      "name": "Code2",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        4340,
        1840
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "38239109-ec1c-4f00-8033-87e94e52704e",
              "leftValue": "={{ $json.contaId }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "exists",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "2668711b-2a48-46eb-9651-b29c38af3d9d",
      "name": "If1",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        3580,
        1840
      ]
    },
    {
      "parameters": {
        "method": "PATCH",
        "url": "=https://backend.donnadoro.com.br/items/Contatos/{{ $json.id }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "crediario",
              "value": "true"
            },
            {
              "name": "em_aberto",
              "value": "={{ $json.amount }}"
            }
          ]
        },
        "options": {}
      },
      "id": "c656c2f3-bebb-42c8-bc83-8b35e46592c5",
      "name": "HTTP Request36",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2920,
        1680
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "gv2igb7M3jLaZsnR",
          "name": "Donna.Doro.API"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "8dd3cb6d-8a45-4b4e-8001-60e61de71691",
              "leftValue": "={{ $json.data }}",
              "rightValue": 0,
              "operator": {
                "type": "array",
                "operation": "lengthGt",
                "rightType": "number"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "f5d49994-57e3-40d9-9afa-402b9b0a3a29",
      "name": "Filter5",
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2.2,
      "position": [
        2500,
        1840
      ],
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "url": "=https://backend.donnadoro.com.br/items/Contatos/{{ $json.id }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "options": {}
      },
      "id": "829bfbc4-7772-44c5-bde3-9fa1c27d31cd",
      "name": "HTTP Request",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2500,
        600
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "gv2igb7M3jLaZsnR",
          "name": "Donna.Doro.API"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "6e56527f-a501-4e75-897a-c2d5a7c5dbcd",
              "leftValue": "={{ $json.data.historico_de_compras }}",
              "rightValue": "={{ $('Results').item.json.historico_de_vendas }}",
              "operator": {
                "type": "string",
                "operation": "notEquals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "b792df03-c6cd-44d6-a097-32b78e0e9c32",
      "name": "Filter",
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2.2,
      "position": [
        2720,
        600
      ],
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "3df6f9b1-8992-4747-ae65-353528324a20",
              "name": "historico_de_vendas",
              "value": "={{ $json.historico_de_vendas.join('\\n\\n----------------------\\n') }}",
              "type": "string"
            },
            {
              "id": "8232f083-ba4f-492b-8163-54ddf20d8bdc",
              "name": "id",
              "value": "={{ $json.id[0] }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "4972273e-ecd9-49f1-b03f-5787ddcdd216",
      "name": "Results",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        2280,
        600
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "3df6f9b1-8992-4747-ae65-353528324a20",
              "name": "historico_de_vendas",
              "value": "={{ $('Results').item.json.historico_de_vendas }}",
              "type": "string"
            },
            {
              "id": "8232f083-ba4f-492b-8163-54ddf20d8bdc",
              "name": "id",
              "value": "={{ $('Results').item.json.id }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "2f30acbc-7afd-4c01-ba91-da08e6190f10",
      "name": "FinalResults",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        3140,
        600
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "db704ba9-0723-4c26-93bf-ef52dbfb1faf",
              "leftValue": "={{ $json.data }}",
              "rightValue": "",
              "operator": {
                "type": "object",
                "operation": "exists",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "9a90f540-f071-4ea7-afaa-88e0e0be2db7",
      "name": "Filter1",
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2.2,
      "position": [
        2940,
        600
      ]
    },
    {
      "parameters": {
        "amount": 1
      },
      "id": "a03a9aac-57c7-4627-abc4-3677555ff1d6",
      "name": "Wait1",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        3080,
        1020
      ],
      "webhookId": "5eb0ba5b-f757-4bb2-9934-34c88f38549a"
    },
    {
      "parameters": {
        "amount": 1
      },
      "id": "0e20c67b-01e3-480c-ad19-17755ef987a5",
      "name": "Wait2",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        1980,
        760
      ],
      "webhookId": "5eb0ba5b-f757-4bb2-9934-34c88f38549a"
    },
    {
      "parameters": {
        "url": "=https://backend.donnadoro.com.br/items/Contatos/{{ $json.id }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "options": {}
      },
      "id": "867646a8-a629-4697-8ac0-f811e62442a5",
      "name": "HTTP Request1",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1940,
        1680
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "gv2igb7M3jLaZsnR",
          "name": "Donna.Doro.API"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 2
          },
          "conditions": [
            {
              "id": "6e56527f-a501-4e75-897a-c2d5a7c5dbcd",
              "leftValue": "={{ Math.round(parseFloat($('HTTP Request1').item.json.data.em_aberto) * 100) / 100  }}",
              "rightValue": "={{ Math.round(parseFloat($('Edit Fields').item.json.amount) * 100) / 100  }}",
              "operator": {
                "type": "number",
                "operation": "notEquals"
              }
            },
            {
              "id": "01c2c42e-d217-4383-aa81-59848437a540",
              "leftValue": "",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "looseTypeValidation": true,
        "options": {}
      },
      "id": "cda6d26a-ef98-4149-a761-f760ff11bbd1",
      "name": "Filter2",
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2.2,
      "position": [
        2300,
        1680
      ],
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "d9a55e04-1e3b-4d15-a31b-39b1e0d2c236",
              "name": "id",
              "value": "={{ $('Loop Over Items8').item.json.id }}",
              "type": "string"
            },
            {
              "id": "3ccced53-9669-4754-8441-509f5d6b7370",
              "name": "amount",
              "value": "={{ $('Loop Over Items8').item.json.amount }}",
              "type": "number"
            }
          ]
        },
        "options": {}
      },
      "id": "1d8c1fdd-eec5-4b32-93d0-1ff15694809f",
      "name": "Edit Fields",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        2120,
        1680
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "d9a55e04-1e3b-4d15-a31b-39b1e0d2c236",
              "name": "id",
              "value": "={{ $json.id }}",
              "type": "string"
            },
            {
              "id": "fb9e6c9b-12a9-4848-ab61-8941793ee962",
              "name": "amount",
              "value": "={{ $json.amount }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "9976511d-e4af-4bce-a204-c60f369b5f3e",
      "name": "Edit Fields1",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        2720,
        1680
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "3addc5ff-f91d-41c8-b2e1-c4fc5bba43da",
              "leftValue": "={{ $json.id }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "exists",
                "singleValue": true
              }
            },
            {
              "id": "23e17e21-b5fe-4641-87be-c060554b5cc0",
              "leftValue": "={{ $json.amount }}",
              "rightValue": "",
              "operator": {
                "type": "number",
                "operation": "exists",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "20760c6b-8a41-48f6-812e-599fcd49d130",
      "name": "Filter3",
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2.2,
      "position": [
        2520,
        1680
      ]
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "triggerAtHour": 4,
              "triggerAtMinute": 20
            }
          ]
        }
      },
      "id": "98d7afe8-902f-459a-939c-78c4b77919ba",
      "name": "Schedule Trigger1",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        1040,
        1680
      ]
    },
    {
      "parameters": {},
      "id": "eb9e9a07-6df1-4339-ab0e-6fa170d8c54a",
      "name": "Sticky Note1",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        2520,
        1960
      ]
    },
    {
      "parameters": {
        "content": "# Update Bling Data for Single Client",
        "height": 1219.2367193629866,
        "width": 3642.748225126197
      },
      "id": "9b41ccdb-4f40-43a1-8cc1-b07815d64efa",
      "name": "Sticky Note4",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        1000,
        2280
      ]
    },
    {
      "parameters": {
        "operation": "get",
        "propertyName": "access_token",
        "key": "erp_access_token",
        "keyType": "string",
        "options": {}
      },
      "id": "82ecaca4-43f3-46aa-8b42-4e8b60277c19",
      "name": "blingToken2",
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        1340,
        2740
      ],
      "credentials": {
        "redis": {
          "id": "xO1fxD1a2KzN70fl",
          "name": "Redis 5"
        }
      }
    },
    {
      "parameters": {
        "url": "=https://api.bling.com.br/Api/v3/contas/receber",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "idContato",
              "value": "={{ $('Webhook').item.json.query.erpID }}"
            }
          ]
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{ $('blingToken2').item.json.access_token }}"
            }
          ]
        },
        "options": {
          "pagination": {
            "pagination": {
              "parameters": {
                "parameters": [
                  {
                    "name": "pagina",
                    "value": "={{ $pageCount + 1 }}"
                  }
                ]
              },
              "paginationCompleteWhen": "other",
              "completeExpression": "={{ $response.body.data.length === 0 }}",
              "requestInterval": 500
            }
          }
        }
      },
      "id": "3470df50-e60f-4dbc-9747-e903aafa0352",
      "name": "HTTP Request33",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1560,
        2500
      ]
    },
    {
      "parameters": {
        "fieldsToAggregate": {
          "fieldToAggregate": [
            {
              "fieldToAggregate": "data"
            }
          ]
        },
        "options": {
          "mergeLists": true
        }
      },
      "id": "6dd7c5bd-2eb2-4876-aa8d-40a68e444189",
      "name": "Aggregate",
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        2060,
        1840
      ]
    },
    {
      "parameters": {
        "fieldsToAggregate": {
          "fieldToAggregate": [
            {
              "fieldToAggregate": "data"
            }
          ]
        },
        "options": {
          "mergeLists": true
        }
      },
      "id": "5b7c02fd-102a-494d-8922-7211ded33e8f",
      "name": "Aggregate2",
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        2300,
        760
      ]
    },
    {
      "parameters": {
        "fieldsToAggregate": {
          "fieldToAggregate": [
            {
              "fieldToAggregate": "data"
            }
          ]
        },
        "options": {
          "mergeLists": true
        }
      },
      "id": "5114e1d8-4a85-4638-ac0d-d9c8a03ed76e",
      "name": "Aggregate3",
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        1760,
        2500
      ]
    },
    {
      "parameters": {
        "fieldToSplitOut": "data",
        "options": {}
      },
      "id": "395347a6-0d24-44c8-8956-b264eb4d206a",
      "name": "Split Out",
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        2600,
        2500
      ],
      "alwaysOutputData": false
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "d06a1550-13c4-440a-9fdc-ea0104f8c0bb",
              "leftValue": "={{ $json.situacao }}",
              "rightValue": 1,
              "operator": {
                "type": "number",
                "operation": "equals"
              }
            },
            {
              "id": "690144b8-ddee-4b3c-9d68-461f04146055",
              "leftValue": "={{ $json.situacao }}",
              "rightValue": 3,
              "operator": {
                "type": "number",
                "operation": "equals"
              }
            }
          ],
          "combinator": "or"
        },
        "options": {}
      },
      "id": "e0838d03-d044-4e0b-b594-fa094035182b",
      "name": "Filter7",
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2.2,
      "position": [
        2780,
        2500
      ],
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "84baabcb-774a-404c-b1a3-f8ca7ca66078",
              "name": "contaId",
              "value": "={{ $json.id }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "f8e078cb-f15b-4029-ae45-67c0116f869a",
      "name": "Edit Fields9",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        2960,
        2500
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "38239109-ec1c-4f00-8033-87e94e52704e",
              "leftValue": "={{ $json.contaId }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "exists",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "31ef67a7-eb18-4a35-a77e-d21e496e6d74",
      "name": "If",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        3140,
        2500
      ]
    },
    {
      "parameters": {
        "url": "=https://api.bling.com.br/Api/v3/contas/receber/{{ $json.contaId }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{ $('blingToken2').item.json.access_token }}"
            }
          ]
        },
        "options": {
          "batching": {
            "batch": {
              "batchSize": 1
            }
          }
        }
      },
      "id": "262b8c7f-d85a-41f2-996a-eddc2bb2b0bd",
      "name": "HTTP Request38",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        3420,
        2340
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "fda9247a-98b6-400f-8c8d-93daba426292",
              "name": "amount",
              "value": "={{ $json.data.saldo ? $json.data.saldo : $json.data.valor }}",
              "type": "number"
            }
          ]
        },
        "options": {}
      },
      "id": "077b2818-d155-46a2-b621-1547d609fbbc",
      "name": "Edit Fields10",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        3700,
        2520
      ]
    },
    {
      "parameters": {
        "jsCode": "let em_aberto = 0;\n\nfor (const item of $input.all()) {\n  em_aberto = em_aberto + item.json.amount;\n}\n\nreturn {\n  id: $('Webhook').last().json.query.id,\n  em_aberto\n};"
      },
      "id": "9513f52a-0e74-440e-8832-5258ecc049ff",
      "name": "Code",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        3880,
        2520
      ]
    },
    {
      "parameters": {
        "url": "=https://api.bling.com.br/Api/v3/pedidos/vendas",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "idContato",
              "value": "={{ $('Webhook').item.json.query.erpID }}"
            }
          ]
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{ $('blingToken2').item.json.access_token }}"
            }
          ]
        },
        "options": {
          "batching": {
            "batch": {
              "batchSize": 1
            }
          },
          "pagination": {
            "pagination": {
              "parameters": {
                "parameters": [
                  {
                    "name": "pagina",
                    "value": "={{ $pageCount + 1 }}"
                  }
                ]
              },
              "paginationCompleteWhen": "other",
              "completeExpression": "={{ $response.body.data.length === 0 }}",
              "requestInterval": 500
            }
          }
        }
      },
      "id": "f6ce1ffe-5188-4962-b11f-3402c3dc4c71",
      "name": "HTTP Request34",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1540,
        2980
      ]
    },
    {
      "parameters": {
        "fieldsToAggregate": {
          "fieldToAggregate": [
            {
              "fieldToAggregate": "data"
            }
          ]
        },
        "options": {
          "mergeLists": true
        }
      },
      "id": "fa1ce087-18e8-4ae3-b7b6-5e3080bebbb1",
      "name": "Aggregate4",
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        1760,
        2980
      ]
    },
    {
      "parameters": {
        "fieldToSplitOut": "data",
        "options": {}
      },
      "id": "9f5d6c48-0943-48a8-bac3-3b71a4974263",
      "name": "Split Out1",
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        2640,
        3080
      ],
      "alwaysOutputData": false
    },
    {
      "parameters": {
        "url": "=https://api.bling.com.br/Api/v3/pedidos/vendas/{{ $json.id }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{ $('blingToken2').item.json.access_token }}"
            }
          ]
        },
        "options": {
          "batching": {
            "batch": {
              "batchSize": 1
            }
          }
        }
      },
      "id": "cedfa1a9-d311-4f92-a78a-b5817b388a14",
      "name": "HTTP Request35",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        3320,
        3280
      ]
    },
    {
      "parameters": {
        "options": {
          "reset": "={{ $('Loop Over Items').context.done }}"
        }
      },
      "id": "8980e1df-b29e-4557-b68f-2f9b21624e8e",
      "name": "Loop Over Items",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        2900,
        3080
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "6c278a4c-70e4-4998-b69c-7a031dec2e1a",
              "name": "numero",
              "value": "={{ $json.data.numero }}",
              "type": "number"
            },
            {
              "id": "06fba608-c9c4-46bc-835a-40dbb184cb60",
              "name": "total",
              "value": "={{ $json.data.total }}",
              "type": "number"
            },
            {
              "id": "c1494b69-90f6-456f-8138-8afa681065db",
              "name": "data",
              "value": "={{ $json.data.data }}",
              "type": "string"
            },
            {
              "id": "add31efe-4c85-4559-8781-b117a67febbe",
              "name": "itens",
              "value": "=| **Código** | **Qtde** | **Descrição**                                           | **Preço** |\n|--------|------|-----------------------------------------------------|------------|\n{{ $json.data.itens.map(i => '| ' + i.codigo + ' | ' + i.quantidade + ' | ' + i.descricao + ' | ' + i.valor.toLocaleString('pt-BR', { style: 'currency', currency: 'BRL' }) + ' |').join('\\n') }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "d3bf5674-77e4-4049-b58d-2dd311fc0a7e",
      "name": "getVendaDetails1",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        3500,
        3280
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "09aa6459-6ba4-425f-8d1a-1c88b974cab8",
              "name": "historico_de_vendas",
              "value": "=### Venda {{ $json.numero }} - {{ $json.data }}\n\n{{ $json.itens }}\n\n**Total: {{ $json.total.toLocaleString('pt-BR', { style: 'currency', currency: 'BRL' }) }}**",
              "type": "string"
            },
            {
              "id": "15c04770-ea9c-42f8-88b0-f8f4a115b1cb",
              "name": "id",
              "value": "={{ $('Loop Over Items').item.json.id }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "43653752-f3ff-470c-a8e4-d33d84951447",
      "name": "getVendaSummary1",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        3700,
        3280
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "883c1f3e-917f-406a-aece-6cae0994d70a",
              "name": "id",
              "value": "={{ $('Loop Over Items').item.json.id }}",
              "type": "string"
            },
            {
              "id": "11de5a19-b838-4aa8-b792-d2324b80dccc",
              "name": "historico_de_vendas",
              "value": "={{ $json.historico_de_vendas }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "0dc0bdbc-f90e-4565-99f1-35f6d3cf0ef1",
      "name": "Edit Fields4",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        3160,
        3060
      ]
    },
    {
      "parameters": {
        "fieldsToAggregate": {
          "fieldToAggregate": [
            {
              "fieldToAggregate": "historico_de_vendas"
            },
            {
              "fieldToAggregate": "id"
            }
          ]
        },
        "options": {
          "mergeLists": false
        }
      },
      "id": "ddd4d9b9-75f0-4a9d-8a3d-54d913a39c66",
      "name": "Aggregate5",
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        3360,
        3060
      ]
    },
    {
      "parameters": {
        "amount": 1
      },
      "id": "d6198474-8eef-4e46-8e78-c213ad8a5824",
      "name": "Wait3",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        3140,
        3280
      ],
      "webhookId": "5eb0ba5b-f757-4bb2-9934-34c88f38549a"
    },
    {
      "parameters": {
        "fieldsToAggregate": {
          "fieldToAggregate": [
            {
              "fieldToAggregate": "data"
            }
          ]
        },
        "options": {
          "mergeLists": true
        }
      },
      "id": "1bb1c23e-b08e-4d96-94bb-f5395647e0a4",
      "name": "Aggregate6",
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        3500,
        1020
      ]
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "return {\n  id: $('Webhook').item.json.query.id,\n  historico_de_compras: $input.item.json.historico_de_vendas.join('\\n\\n----------------------\\n')\n}\n"
      },
      "id": "307ee492-5d89-44c8-8c9e-cb41d1b611e6",
      "name": "Code1",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        3560,
        3060
      ]
    },
    {
      "parameters": {
        "mode": "combine",
        "fieldsToMatchString": "id",
        "options": {}
      },
      "id": "81caf927-32c8-42c3-b0a1-f76b26182cd6",
      "name": "Merge",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3,
      "position": [
        4160,
        2780
      ]
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "344b8e94-c787-4177-8559-602c35f28fc2",
      "name": "Respond to Webhook",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        4360,
        2780
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "4f3ae02d-b23c-42ec-996d-6e6a10c413a3",
              "leftValue": "={{ $json.data.length }}",
              "rightValue": 0,
              "operator": {
                "type": "number",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "4b9c90f3-56aa-4950-bc91-5f33b160d23f",
      "name": "If2",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        1980,
        2980
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "3e7e2edd-4b1c-4dd4-af18-1e04190051b6",
              "name": "id",
              "value": "={{ $('Webhook').item.json.query.id }}",
              "type": "string"
            },
            {
              "id": "c62d82ce-155f-482c-9184-18e091de4ada",
              "name": "historico_de_compras",
              "value": "",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "3f438af2-3156-4658-920f-518ac631fdf0",
      "name": "Edit Fields2",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        3560,
        2860
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "d575adfd-b720-4247-90c1-4f7a1fc386da",
              "leftValue": "={{ $json.data.length }}",
              "rightValue": 0,
              "operator": {
                "type": "number",
                "operation": "notEquals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "901dc030-340f-4614-939b-7d36d70788d5",
      "name": "If3",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        1980,
        2500
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "08d46b2d-0cac-44ac-9c7d-01d03f446e6f",
              "name": "id",
              "value": "={{ $('Webhook').item.json.query.id }}",
              "type": "string"
            },
            {
              "id": "7127de5a-d989-4a51-bb72-3bc7acb16369",
              "name": "em_aberto",
              "value": 0,
              "type": "number"
            }
          ]
        },
        "options": {}
      },
      "id": "ea89fbae-d9f3-4518-9a4e-de901feed71e",
      "name": "Edit Fields5",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        3560,
        2720
      ]
    },
    {
      "parameters": {
        "content": "token\nCh76HKtFPqe_kfbqJloBoFsQ-KCYSyCz",
        "height": 288.16343741806753,
        "color": 3
      },
      "id": "959accb6-6ddf-4d14-805c-f6276b8020a1",
      "name": "Sticky Note5",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        1080,
        2620
      ]
    },
    {
      "parameters": {
        "path": "donna-update-em-aberto",
        "authentication": "headerAuth",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "95ee24b3-80ae-42d4-a140-a96dd38cf5c7",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        1140,
        2740
      ],
      "webhookId": "6b735a8c-d981-434d-9833-41eb80a324d2",
      "credentials": {
        "httpHeaderAuth": {
          "id": "j4aNmp45Pm5k7kYg",
          "name": "Update Bling Data Webhook"
        }
      }
    }
  ],
  "pinData": {},
  "settings": {
    "executionOrder": "v1",
    "timezone": "America/Manaus",
    "saveManualExecutions": true,
    "callerPolicy": "workflowsFromSameOwner"
  },
  "staticData": {
    "node:Schedule Trigger": {
      "recurrenceRules": []
    },
    "node:Schedule Trigger1": {
      "recurrenceRules": []
    }
  },
  "tags": [],
  "triggerCount": 3,
  "updatedAt": "2024-12-04T20:41:14.449Z",
  "versionId": "95499807-491d-4aec-bc89-34bbdbee906c"
}