workflows/Whatsapp.Donna.json
{
  "active": true,
  "connections": {
    "Redis": {
      "main": [
        [
          {
            "node": "Wait",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait": {
      "main": [
        [
          {
            "node": "Redis1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Redis1": {
      "main": [
        [
          {
            "node": "If1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Redis2",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Redis1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Redis2": {
      "main": [
        [
          {
            "node": "Edit Fields1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If1": {
      "main": [
        [
          {
            "node": "No Operation, do nothing",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter": {
      "main": [
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch": {
      "main": [
        [
          {
            "node": "Convert to File",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Edit Fields4",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Edit Fields4",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Convert to File1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Convert to File": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Convert to File1": {
      "main": [
        [
          {
            "node": "OpenAI",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "Edit Fields2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields4": {
      "main": [
        [
          {
            "node": "Message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields2": {
      "main": [
        [
          {
            "node": "Message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields3": {
      "main": [
        [
          {
            "node": "Message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Message": {
      "main": [
        [
          {
            "node": "Redis",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook": {
      "main": [
        [
          {
            "node": "Filter",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI": {
      "main": [
        [
          {
            "node": "Edit Fields3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2024-09-18T20:36:50.492Z",
  "id": "hc8RYmglt4uqaPOn",
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "name": "Whatsapp.Donna",
  "nodes": [
    {
      "parameters": {
        "operation": "push",
        "list": "=temp.{{ $json.remoteJid }}",
        "messageData": "={{ JSON.stringify($json) }}",
        "tail": true
      },
      "id": "3fd7df78-ecaf-48ad-8276-9f8776ecbe0b",
      "name": "Redis",
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        1920,
        480
      ],
      "credentials": {
        "redis": {
          "id": "xO1fxD1a2KzN70fl",
          "name": "Redis 5"
        }
      }
    },
    {
      "parameters": {},
      "id": "aa936c8b-26f0-4abc-a3a5-a6a9a4e4e1c0",
      "name": "Wait",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        2180,
        480
      ],
      "webhookId": "35fcf4e6-3632-4756-9d5b-c825e371b90b"
    },
    {
      "parameters": {
        "operation": "get",
        "propertyName": "=messageList",
        "key": "=temp.{{ $('Message').item.json.remoteJid }}",
        "keyType": "list",
        "options": {}
      },
      "id": "55235d02-aef1-4855-9118-fe518d6f160e",
      "name": "Redis1",
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        2380,
        480
      ],
      "credentials": {
        "redis": {
          "id": "xO1fxD1a2KzN70fl",
          "name": "Redis 5"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "5f21f25e-b67a-4e46-8ed0-80850ab52826",
              "leftValue": "={{ $json.messageList }}",
              "rightValue": "=",
              "operator": {
                "type": "array",
                "operation": "exists",
                "singleValue": true
              }
            },
            {
              "id": "18eb16d6-f0e1-4617-b95d-b4c3c8c3b610",
              "leftValue": "={{ JSON.parse($json.messageList.last()).id }}",
              "rightValue": "={{ $('Message').item.json.id }}",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "a4a90d87-c86b-4e80-8758-aa6566d65efd",
      "name": "If",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        2780,
        480
      ]
    },
    {
      "parameters": {
        "operation": "delete",
        "key": "=temp.{{ $('Message').item.json.remoteJid }}"
      },
      "id": "bcc69e25-a71d-4672-989a-0a8bd8f07638",
      "name": "Redis2",
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        2980,
        480
      ],
      "credentials": {
        "redis": {
          "id": "xO1fxD1a2KzN70fl",
          "name": "Redis 5"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "10b306e6-4082-464c-991f-8375a5706675",
              "name": "message",
              "value": "={{ $json.messageList.map(m => JSON.parse(m).content).join(\"\\n\") }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "8b2dcc9f-4954-4a20-8c6f-a991ffc9fc15",
      "name": "Edit Fields1",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        3180,
        480
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "2e891063-79df-4093-b3b0-a0a173f6cf88",
              "leftValue": "={{ $json.messageList }}",
              "rightValue": "",
              "operator": {
                "type": "array",
                "operation": "empty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "06ac6c58-9cc0-4b99-9e72-db17676c7565",
      "name": "If1",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        2580,
        480
      ]
    },
    {
      "parameters": {},
      "id": "2f1df90b-7d59-4ad2-82ba-f47b68e12837",
      "name": "No Operation, do nothing",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        2780,
        280
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "dc10f5e9-42f0-49fd-a153-ed57f56fd526",
              "leftValue": "={{ $json.body.data.key.fromMe }}",
              "rightValue": "false",
              "operator": {
                "type": "boolean",
                "operation": "false",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "33ac4aa2-0f00-4ec2-ba2f-ffdda643e880",
      "name": "Filter",
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2.2,
      "position": [
        -20,
        460
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.groq.com/openai/v1/audio/transcriptions",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "contentType": "multipart-form-data",
        "bodyParameters": {
          "parameters": [
            {
              "parameterType": "formBinaryData",
              "name": "file",
              "inputDataFieldName": "data"
            },
            {
              "name": "model",
              "value": "whisper-large-v3"
            },
            {
              "name": "language",
              "value": "pt"
            },
            {
              "name": "prompt",
              "value": "O audio é uma conversa de uma cliente de uma loja de semijoias em Portugues brasileiro. O contexto do audio será, em sua grande maioria, voltado para o mercado de joias, acessórios e semijoias."
            },
            {
              "name": "temperature",
              "value": "0.6"
            }
          ]
        },
        "options": {}
      },
      "id": "87719c26-21ad-4dfd-8a06-1e594d81aa1a",
      "name": "HTTP Request",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1040,
        100
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "6EcEhXh2JXPLp8ye",
          "name": "Groq"
        }
      }
    },
    {
      "parameters": {
        "operation": "toBinary",
        "sourceProperty": "body.data.message.base64",
        "options": {
          "fileName": "audio.mp3",
          "mimeType": "audio/mpeg"
        }
      },
      "id": "c52001e9-4057-46be-9fec-104a33311c22",
      "name": "Convert to File",
      "type": "n8n-nodes-base.convertToFile",
      "typeVersion": 1.1,
      "position": [
        800,
        100
      ]
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "630450bf-2c1e-4ebd-9d29-37fcb6ae12b1",
                    "leftValue": "={{ $json.body.data.messageType }}",
                    "rightValue": "audioMessage",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Audio"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.body.data.messageType }}",
                    "rightValue": "=conversation",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Texto"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "bc569b2f-db3b-4eb2-8cc3-bd7ab4bdce2a",
                    "leftValue": "={{ $json.body.data.messageType }}",
                    "rightValue": "extendedTextMessage",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "TextoResposta"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "2ecd49b1-3031-48e1-9016-752553db98de",
                    "leftValue": "={{ $json.body.data.messageType }}",
                    "rightValue": "imageMessage",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Imagem"
            }
          ]
        },
        "options": {
          "fallbackOutput": "none"
        }
      },
      "id": "e47689c8-98cb-4fee-9f13-5cd88a017cd1",
      "name": "Switch",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        180,
        460
      ]
    },
    {
      "parameters": {
        "operation": "toBinary",
        "sourceProperty": "body.data.message.base64",
        "options": {
          "fileName": "image.jpg",
          "mimeType": "image/jpeg"
        }
      },
      "id": "791756a7-a9f3-4463-96cc-d3e49c48a481",
      "name": "Convert to File1",
      "type": "n8n-nodes-base.convertToFile",
      "typeVersion": 1.1,
      "position": [
        740,
        920
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "3df98d28-5a08-4f83-b439-17bc75bbe607",
              "name": "=id",
              "value": "={{ $('Webhook').item.json.body.data.key.id }}",
              "type": "string"
            },
            {
              "id": "1beba143-794d-4133-884c-56a03de1db81",
              "name": "remoteJid",
              "value": "={{ $('Webhook').item.json.body.data.key.remoteJid }}",
              "type": "string"
            },
            {
              "id": "e1453fae-42a0-4caf-a5b1-4f7fe9dcfd74",
              "name": "source",
              "value": "audio",
              "type": "string"
            },
            {
              "id": "9310b7d0-0981-41b5-b271-5dd15ff8f28c",
              "name": "pushName",
              "value": "={{ $('Webhook').item.json.body.data.pushName }}",
              "type": "string"
            },
            {
              "id": "fbc5a4bd-22f1-4a72-b686-abfa7dc530f0",
              "name": "content",
              "value": "={{ $json.text }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "9d8f36c1-3881-44b0-8d3f-e18a32f3d434",
      "name": "Edit Fields2",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1260,
        100
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "3df98d28-5a08-4f83-b439-17bc75bbe607",
              "name": "=id",
              "value": "={{ $('Webhook').item.json.body.data.key.id }}",
              "type": "string"
            },
            {
              "id": "1beba143-794d-4133-884c-56a03de1db81",
              "name": "remoteJid",
              "value": "={{ $('Webhook').item.json.body.data.key.remoteJid }}",
              "type": "string"
            },
            {
              "id": "e1453fae-42a0-4caf-a5b1-4f7fe9dcfd74",
              "name": "source",
              "value": "image",
              "type": "string"
            },
            {
              "id": "9310b7d0-0981-41b5-b271-5dd15ff8f28c",
              "name": "pushName",
              "value": "={{ $('Webhook').item.json.body.data.pushName }}",
              "type": "string"
            },
            {
              "id": "fbc5a4bd-22f1-4a72-b686-abfa7dc530f0",
              "name": "content",
              "value": "={{ $json.content }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "c24508bc-dc47-4756-b5af-4398e3afc188",
      "name": "Edit Fields3",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1300,
        920
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "3df98d28-5a08-4f83-b439-17bc75bbe607",
              "name": "=id",
              "value": "={{ $('Webhook').item.json.body.data.key.id }}",
              "type": "string"
            },
            {
              "id": "1beba143-794d-4133-884c-56a03de1db81",
              "name": "remoteJid",
              "value": "={{ $('Webhook').item.json.body.data.key.remoteJid }}",
              "type": "string"
            },
            {
              "id": "e1453fae-42a0-4caf-a5b1-4f7fe9dcfd74",
              "name": "source",
              "value": "text",
              "type": "string"
            },
            {
              "id": "9310b7d0-0981-41b5-b271-5dd15ff8f28c",
              "name": "pushName",
              "value": "={{ $('Webhook').item.json.body.data.pushName }}",
              "type": "string"
            },
            {
              "id": "fbc5a4bd-22f1-4a72-b686-abfa7dc530f0",
              "name": "content",
              "value": "={{ $('Webhook').item.json.body.data.message.conversation }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "36e94b08-2140-4290-891c-79e5fac33181",
      "name": "Edit Fields4",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1280,
        480
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "3df98d28-5a08-4f83-b439-17bc75bbe607",
              "name": "=id",
              "value": "={{ $json.id }}",
              "type": "string"
            },
            {
              "id": "1beba143-794d-4133-884c-56a03de1db81",
              "name": "remoteJid",
              "value": "={{ $json.remoteJid }}",
              "type": "string"
            },
            {
              "id": "e1453fae-42a0-4caf-a5b1-4f7fe9dcfd74",
              "name": "source",
              "value": "text",
              "type": "string"
            },
            {
              "id": "9310b7d0-0981-41b5-b271-5dd15ff8f28c",
              "name": "pushName",
              "value": "={{ $json.pushName }}",
              "type": "string"
            },
            {
              "id": "fbc5a4bd-22f1-4a72-b686-abfa7dc530f0",
              "name": "content",
              "value": "={{ $json.content }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "4356ea9b-e4d0-4839-81fb-2bd65bd151b7",
      "name": "Message",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1640,
        480
      ]
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "d38c0d7e-7e9c-4d77-9b07-328867d2c6b6",
        "options": {}
      },
      "id": "d8678a15-30e1-4df2-91fb-e55f6176ad62",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -220,
        460
      ],
      "webhookId": "d38c0d7e-7e9c-4d77-9b07-328867d2c6b6"
    },
    {
      "parameters": {
        "resource": "image",
        "operation": "analyze",
        "modelId": {
          "__rl": true,
          "value": "gpt-4o-mini",
          "mode": "list",
          "cachedResultName": "GPT-4O-MINI"
        },
        "text": "Esta imagem é, na maior parte das vezes, uma foto de joia ou semijoias. Descreva a imagem nos seus mínimos detalhes, descrevendo cada parte visível da melhor maneira possível.",
        "inputType": "base64",
        "options": {
          "maxTokens": 800
        }
      },
      "id": "7e285a96-2529-4e3a-891d-f3bd0911cb79",
      "name": "OpenAI",
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.5,
      "position": [
        1020,
        920
      ],
      "credentials": {
        "openAiApi": {
          "id": "PZCMjct51rl9RnLJ",
          "name": "OpenAi account"
        }
      }
    }
  ],
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [],
  "triggerCount": 1,
  "updatedAt": "2024-10-27T23:26:38.213Z",
  "versionId": "99bbf542-2d23-453f-89c9-30d64f7c16f2"
}